# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Base de données
*.db
*.sqlite
*.sqlite3

# Distribution / build
dist/
build/
*.spec
*.egg-info/

# Environnements virtuels
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

Projet_PyDo.pdf
structure.md
